<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link rel="stylesheet" href="style.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-cloak ng-app="app">
    <greeting></greeting>
    <script src="app.js"></script>
    <script>
      var app = angular.module("app");
      app.constant("version", "{{version}}");
      {{#if prod}}
      app.config(['$compileProvider', function ($compileProvider) {
        $compileProvider.debugInfoEnabled(false);
      }]);
      {{/if}}
    </script>
  </body>
</html>
